<div class="row" style="padding-bottom: 50px; background-color: lightblue; color: white;">
<div class="col s12" style="text-align: center;">
  <h2>Welcome</h2>
  <h5>What would you like to do today?</h5>
  <form action="/profile" method="get" style="display: inline-block;">
  <button type="submit" class="waves-effect waves-light btn">New Poll</button>
  </form>
    <form action="/showAll" method="get" style="display: inline-block;">
  		<button type="submit" class="waves-effect waves-light btn">My Polls</button>
  	</form>
  </div>
</div>